**/lazy-lock.json
.Identifier

# AWS
**/.aws/*
!**/.aws/
!**/.aws/config

# Kubernetes
**/.kube/*
!**/.kube/
!**/.kube/config

# Others
**/**.log
**/.config/gcloud/
**/.config/gh/
**/.config/icedtea-web/
**/.docker/contexts
**/.ssh/environment-*
