**/lazy-lock.json
.Identifier

# AWS
.aws/

# Codex
.codex/
!.codex/AGENTS.md

# Kubernetes
**/.kube/*
!**/.kube/config

# OpenLogi
/.config/openlogi/*
!.config/openlogi/config.toml

# Others
**/**.log
.config/gcloud/
.config/gh/
.config/icedtea-web/
.docker/contexts
.ssh/environment-*
